@import '../../../styles/tc-theme.scss';
a{
    letter-spacing: 0.1em;
    font-weight: 500 !important;
}

a.active{
    color: $primary-color;
    background-color: rgba($primary-color, 0.1) !important;
}