@import '../../../styles/tc-theme.scss';

.title-bar-container{
    background-color: rgba($grey-50, 0.4);
    padding: 32px;
    h1{
        margin: 0 !important;
        letter-spacing: 0.09em;
    }
    margin-bottom: 2rem;
}