<div fxLayout fxLayout.lt-md="column" class="h-100 w-100 p-5">
    <div fxFlex.gt-sm="40%" fxFlex.lt-lg="30%" fxLayout="column" fxLayoutAlign="center start" class="p-5">
        <h1 class="mat-display-3">tinyComp</h1>
        <span class="tc-desc">jQuery plugins that will save your time and effort.<br>
            Helping you to boost and enhance your professional web development.</span>
    </div>
    <div fxFlex.gt-sm="60%" fxFlex.lt-lg="70%" fxLayout="column" fxLayoutGap="2rem">
        <div fxFlex="calc(50% - 2rem)" fxLayout="column" fxLayoutAlign="center start"
            class="bg-grey p-5 tc-product-cnt">
            <h1 class="mat-display-2 mb-3">GlassCase </h1>
            <h3 class="mat-h3 tc-hx">jQuery Image Zoom plugin <br>
                Helps you to Zoom Image on hover
            </h3>
            <span class="tc-desc" ngClass.gt-lg="w-60" ngClass.gt-md="w-70">is a responsive jQuery plugin that helps you
                to add Image Zoom
                feature with HTML5 Video && IFrame capabilities to your product
                view and gives your customers an amazing viewing experience.</span>
            <a mat-stroked-button color="primary" class="mt-5"
                [routerLink]="['products', 'glasscase-jquery-image-zoom-plugin', 'features']">View Details</a>
        </div>
        <div fxFlex="calc(50% - 2rem)" fxLayout fxLayout.lt-md="column" fxLayoutGap="2rem">
            <div fxFlex="calc(50% - 2rem)" fxLayout="column" fxLayoutAlign="center start" class="bg-grey p-5 tc-product-cnt">
                <h1 class="mat-display-2 mb-3">SolCarousel</h1>
                <h3 class="mat-h3 tc-hx">jQuery Carousel plugin<br/>
                    Shows content in a sleek and modern carousel
                </h3>
                <span class="tc-desc" ngClass.gt-lg="w-80" ngClass.gt-md="w-100">
                    is a Responsive and Touch Enabled jQuery
                    plugin that helps you present
                    your content
                    in a modern and fresh way.</span>
                <a mat-stroked-button color="primary" class="mt-5"
                    [routerLink]="['products', 'sol-jquery-carousel-plugin', 'features']">View
                    Details</a>
            </div>
            <div fxFlex="calc(50% - 2rem)" fxLayout="column" fxLayoutAlign="center start" class="bg-grey p-5 tc-product-cnt">
                <h1 class="mat-display-2 mb-3">OverBox</h1>
                <h3 class="mat-h3 tc-hx">jQuery Image and Video Lightbox plugin <br>
                    Shows content in Lightbox with Info toolbar
                </h3>
                <span class="tc-desc" ngClass.gt-lg="w-80" ngClass.gt-md="w-100">is a Responsive and Touch Enabled jQuery
                    plugin that helps you present
                    your content
                    in a modern and fresh way giving your customers an amazing viewing experience.</span>
                <a mat-stroked-button color="primary" class="mt-5"
                    [routerLink]="['products', 'overbox-jquery-image-video-lightbox-plugin', 'features']">View
                    Details</a>
            </div>
        </div>
    </div>
</div>